<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editEvent/<%= event.event_id %>" method="post">
    <label for="event_name">Event Name: </label>
    <input type="text" name="event_name" id="event_name" value="<%= event.event_name %>">
    <br><br>
    <label for="event_date">Event Date: </label>
    <input type="date" name="event_date" id="event_date" value="<%= event.event_date.toISOString().substring(0, 10) %>">
    <br><br>
    <label for="event_address">Event Address: </label>
    <input type="text" name="event_address" id="event_address" value="<%= event.event_address %>">
    <br><br>
    <label for="event_city">Event City: </label>
    <input type="text" name="event_city" id="event_city" value="<%= event.event_city %>">
    <br><br>
    <label for="event_state">Event State: </label>
    <input type="text" name="event_state" id="event_state" value="<%= event.event_state %>">
    <br><br>
    <label for="event_zipcode">Event Zipcode: </label>
    <input type="number" name="event_zipcode" id="event_zipcode" value="<%= event.event_zipcode %>">
    <br><br>
    <label for="event_start_time">Event Start Time: </label>
    <% 
      const eventStartTime = event.event_start_time;
      const [time] = eventStartTime.split('+');
    %>
    <input type="text" name="event_start_time" id="event_start_time" value="<%= time %>">
    <br><br>
    <label for="event_end_time">Event End Time: </label>
    <% 
      const eventEndTime = event.event_end_time;
      const [endtime] = eventEndTime.split('+');
    %>
    <input type="text" name="event_end_time" id="event_end_time" value="<%= endtime %>">
    <br><br>
    <label for="jen_story">Jen Story Duration: </label>
    <input type="radio" value="0" <%= event.jen_story === null ? 'checked' : '' %>>0
    <input type="radio" value="5" <%= event.jen_story === 5 ? 'checked' : '' %>>5
    <input type="radio" value="10" <%= event.jen_story === 10 ? 'checked' : '' %>>10
    <input type="radio" value="15" <%= event.jen_story === 15 ? 'checked' : '' %>>15
    <input type="radio" value="30" <%= event.jen_story === 30 ? 'checked' : '' %>>30
    <br><br>
    <label for="event_status_description">Event Status Description: </label>
    <textarea rows="10" cols="10" name="event_status_description" id="event_status_description"><%= event.event_status_description %></textarea>
    <br><br>
    <label for="num_untrained_participants">Number of Untrained Participants</label>
    <input type="number" name="num_untrained_participants" id="num_untrained_participants" value="<%= event.num_untrained_participants || 0 %>">
    <br><br>
    <label for="num_trained_participants">Number of Trained Participants</label>
    <input type="number" id="num_trained_participants" name="num_trained_participants" value="<%= event.num_trained_participants || 0 %>">
    <br><br>
    <label for="num_part_children">Number of Child Participants</label>
    <input type="number" id="num_part_children" name="num_part_children" value="<%= event.num_part_children || 0 %>">
    <br><br>
    <label for="num_volunteers">Number of Volunteers</label>
    <input type="number" name="num_volunteers" id="num_volunteers" value="<%= event.num_volunteers || 0 %>">
    <br><br>
    <label for="num_sewers">Number of Sewists: </label>
    <input type="number" name="num_sewers" id="num_sewers" value="<%= event.num_sewers || 0 %>">
    <br><br>
    <label for="event_type">Event Type: </label>
    <select name="event_type" id="event_type">
        <option value="SEWING" <%= event.event_type === 'SEWING' ? 'selected' : '' %>>SEWING</option>
        <option value="NON-SEWING" <%= event.event_type === 'NON-SEWING' ? 'selected' : '' %>>NON-SEWING</option>
        <option value="BOTH" <%= event.event_type === 'BOTH' ? 'selected' : '' %>>BOTH</option>
    </select>
    <br><br>
    <label for="num_sewing_machines_needed">Number of Sewing Machines Needed: </label>
    <input type="number" name="num_sewing_machines_needed" id="num_sewing_machines_needed" value="<%= event.num_sewing_machines_needed || 0 %>">
    <br><br>
    <label for="num_sergers_needed">Number of Sergers Needed: </label>
    <input type="number" name="num_sergers_needed" id="num_sergers_needed" value="<%= event.num_sergers_needed || 0 %>">
    <br><br>
    <label for="venue_capacity">Venue Capacity</label>
    <input type="number" name="venue_capacity" id="venue_capacity" value="<%= event.venue_capacity || 0 %>">
    <br><br>
    <label for="num_tables_round">Number of Round Tables: </label>
    <input type="number" name="num_tables_round" id="num_tables_round" value="<%= event.num_tables_round || 0 %>">
    <br><br>
    <label for="round_table_capacity">Round Table Capacity: </label>
    <input type="number" name="round_table_capacity" id="round_table_capacity" value="<%= event.round_table_capacity || 0 %>">
    <br><br>
    <label for="num_tables_rectangular">Number of Rectangular Tables: </label>
    <input type="number" name="num_tables_rectangular" id="num_tables_rectangular" value="<%= event.num_tables_rectangular || 0 %>">
    <br><br>
    <label for="rectangle_table_capacity">Rectangle Table Capacity: </label>
    <input type="number" name="rectangle_table_capacity" id="rectangle_table_capacity" value="<%= event.rectangle_table_capacity || 0 %>">
    <br><br>
    <label for="total_production">Total Production from Event:</label>
    <input type="number" name="total_production" id="total_production" value="<%= event.total_production || 0 %>" >
    <br><br>
    <label for="comments">Comments: </label>
    <textarea rows="10" cols="10" name="comments" id="comments"><%= event.comments %></textarea>
    <br><br>
    <label for="event_status">Event Status: </label>
    <input type="radio" value="PENDING" <%= event.event_status === 'PENDING' ? 'checked' : '' %>>PENDING
    <input type="radio" value="APPROVED" <%= event.event_status === 'APPROVED' ? 'checked' : '' %>>APPROVED
    <input type="radio" value="DECLINED" <%= event.event_status === 'DECLINED' ? 'checked' : '' %>>DECLINED
    <input type="radio" value="COMPLETED" <%= event.event_status === 'COMPLETED' ? 'checked' : '' %>>COMPLETED
    <br><br>
    <button type="submit">Save Changes</button>
    </form>
    CONTACT
    <br>
    <label for="event_contact_organization">Organization: </label>
    <span name="event_contact_organization"><%= contact.event_contact_organization %></span>
    <br><br>
    <label for="event_contact_first_name">First Name: </label>
    <span name="event_contact_first_name"><%= contact.event_contact_first_name %></span>
    <br><br>
    <label for="event_contact_last_name">Last Name: </label>
    <span name="event_contact_last_name"><%= contact.event_contact_last_name %></span>
    <br><br>
    <label for="event_contact_phone">Phone Number: </label>
    <span name="event_contact_phone"><%= contact.event_contact_phone %></span>
    <br><br>
    <label for="event_contact_email">Email: </label>
    <span name="event_contact_email"><%= contact.event_contact_email %></span>
</body>
</html>